<div class="space-y-5 mx-auto">
  <h1 class="font-bold text-3xl text-center">A Blog on Ruby</h1>
  <% @blog_posts.each do |blog_post| %>
    <div class="">
      <h2 class="font-semibold"><%= link_to blog_post.title, blog_post %></h2>
      <%= blog_post.content %>
    </div>
  <% end %>
</div>
