<div class="space-y-8 mx-auto overflow-scroll py-10">
  <% @blog_posts.each do |blog_post| %>
    <div class="border-2 border-gray-500 rounded-xl py-3 px-4 md:w-1/2 mx-auto shadow-lg">
      <%= image_tag blog_post.cover_image, class: "max-w-md rounded-xl mx-auto mb-3" if blog_post.cover_image.present? %>
      <div class= "flex justify-between">
        <h2 class="font-semibold text-lg"><%= link_to blog_post.title, blog_post %></h2>
        <% if blog_post.draft? %>
          <div class="text-center px-2 py-1 text-gray-200 max-w-20 rounded-md bg-teal-400 text-md font-semibold leading-6  shadow-md hover:bg-teal-500">Draft</div>
        <% elsif blog_post.scheduled? %>
          <div class="text-center px-2 py-1 text-teal-900 max-w-28 rounded-md bg-teal-300 text-md font-semibold leading-6 shadow-md hover:bg-teal-500">Scheduled</div>
        <% end %>
      </div>
      <div class = "mt-5">
        <%= blog_post.content %>
      </div>
    </div>
  <% end %>
  <% if @pagy.count > @pagy.items %>
    <%== pagy_nav(@pagy)%>
  <% end %>
</div>
