<div class="flex flex-col mx-auto space-y-5 w-1/2 pt-5">
  <%= link_to edit_blog_post_path(@blog_post), class: "text-md font-semibold" do %>
    Edit
  <% end if user_signed_in? %>
  <%= image_tag @blog_post.cover_image if @blog_post.cover_image.present? %>
  <h1 class="font-bold text-2xl border-b-2 border-teal-900"><%= @blog_post.title %></h1>
  <%= @blog_post.content %>
</div>
